.ordered-list{
  padding-left: 20px;
}

.react-logo{
  width: 60px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  padding-right: 1300px;
  display: flex;
  list-style: none;
  padding-left: 20px;
}

.nav-list-items{
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
}

.navbar-header{
  width: 550px;
  height: 91px;
  background-color: #21222A;
  align-items: center;
  display: flex;
}

.navbar-nav{
  width: 158px;
  height: 28.93px;
  top: 31px;
  left: 26px;
  display: flex;
  padding: 16px 8px;
  align-items: center;
}
.navbar-image{
  width: 28.93px;
  padding: 16px 8px;
}

.navbar-text{
  font-family: Inter;
  font-weight: 700;
  font-size: 22.25px;
  line-height: 100%;
  word-spacing: -5%;
  color: #61DAFB;
}