@import "tailwindcss";

.ordered-list{
  padding-left: 20px;
}

.react-logo{
  width: 60px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.nav-list{
  padding-right: 1300px;
  display: flex;
  list-style: none;
  padding-left: 20px;
}

.nav-list-items{
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
}

.navbar-header{
  width: 550px;
  height: 91px;
  background-color: #21222A;
  align-items: center;
  display: flex;
}

.navbar-nav{
  width: 158px;
  height: 28.93px;
  top: 31px;
  left: 26px;
  display: flex;
  padding: 16px 8px;
  align-items: center;
}
.navbar-image{
  width: 28.93px;
  padding: 16px 8px;
}

.navbar-text{
  font-family: Inter;
  font-weight: 700;
  font-size: 22.25px;
  line-height: 100%;
  word-spacing: -5%;
  color: #61DAFB;
}

.main-main{
  background-color: #282D35;
  width: 550px;
  height: 459px;
  padding-top: 1px;
  background-image: url(./assets/reactjs-half-icon.png);
  background-repeat: no-repeat;
 background-position: right 50%;
}

.main-text{
  color: white;
  font-size: 39.06px;
  width: 424px;
  height: 41px;
  font-family: Inter;
  font-weight: 700;
  margin-left: 27px;
  margin-top: 50px;
}

.main-ul{
  margin: 0;
  margin-left: 74px;
  color: white;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
}

.main-ul > li{
  margin-bottom: 10px;
}

.main-ul > li::marker{
  color: #61DAFB;
  font-size: 1.5rem;
}

.ddr-header{
  display: flex;
  align-items: center;
  background-color: red;
  width: 550px;
  height: 55px;
  justify-content: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.ddr-text{
  margin-left: 8px;
  color: white;
  font-style: Inter;
  font-weight: 500;
}

.ddr-entry{
  width: 550px;
  height: 704px;
  border-width: 2px;
  border-color: black;
  border-top-color: white;
  border-style: solid;
}

.japan{
  width: 470px;
  height: 168px;
  left: 40px;
  top: 100px;
  position: relative;
  display: flex;
  margin-bottom: 30px;
}

.ddr-entry-image{
  width: 125px;
  height: 168px;
  border-radius: 10px;
}

.ddr-entry-map-logo{
  width: 7px;
  height: 9.5px;
  position: relative;
  margin-left: 15px;
}

.ddr-entry-japan-text{
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 10.24px;
  margin-left: 15px;
}

.ddr-entry-map-link{
  color: gray;
  font-size: 10.24px;
  font-family: Inter;
  margin-left: 8px;
}

.ddr-entry-content > h2 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  margin-top: 7px;
  margin-left: 15px;
}

.ddr-entry-content > span {
  font-family: Inter;
  font-weight: 700;
  font-size: 10.24px;
  margin-left: 15px;
}

.ddr-entry-content > p {
  font-size: 10.24px;
  font-family: Inter;
  font-weight: 400;
  margin-left: 15px;
  line-height: 15px;
}


.rs-bg{
  background-color: #FAFAF8;
  width: 720px;
  height: 291px;
}

.rs-header{
  width: 720px;
  height: 111px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.rs-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rs-img{
  width: 43px;
  height: 52px;
  margin-right: 10px;
}

.rs-text{
  font-family: Inter;
  font-weight: 400;
  font-size: 32px;
}


/* .navbar-header{
  height: 90px;
  background-color: #21222A;
  padding: 30px 25px;
}

.navbar-nav{
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-image{
  width: 40px;
  margin-right: 7px;
}

.navbar-text{
  color: #61DAFB;
  font-size: 1.4rem;
  font-family: Inter,sans-serif;
  font-weight: 700;
} */


.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contact-card > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contact-card > h3 {
    font-weight: 700;
    font-size: 18px;
}

.info-group {
    display: flex;
    align-items: center;
}

.info-group > img {
    height: 11px;
    margin-right: 8px;
}

.info-group > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}