.ordered-list{
  padding-left: 20px;
}

.react-logo{
  width: 60px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  padding-right: 1300px;
  display: flex;
  list-style: none;
  padding-left: 20px;
}

.nav-list-items{
  margin-right: 15px;
  font-size: 18px;
  font-weight: bold;
}
